.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.logo {
  text-align: center;
  padding: 20px 0 20px 0;
  flex: 1;
}

.notification {
  text-align: center;
  color: #6a6a6a;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.password {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 30px;
}

.password i {
  font-size: 12px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.input {
  width: 300px;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #6a6a6a;
}

.input::placeholder {
  color: #6a6a6a;
  font-size: 15px;
}

.button-green {
  background: #46aa6e;
  color: white !important;
  border-radius: 0;
  width: 150px;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
  padding-bottom: 30px;
  flex: 1;
}

.submit-form {
  text-align: center;
}

.button-white {
  background: white;
  border: 2px solid #e6e6e6;
  width: 30rem;
  justify-content: center;
}

.register {
  text-align: center;
  flex: 1;
}
