/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/* @import '~@fortawesome/fontawesome-free/css/all.css'; */

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: auto !important;
}

#root {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
